body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,
    Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
}

.addAdventureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addAdventureForm {
  display: flex;
  flex-direction: column;
  align-items: center
}

.formItem {
  margin-top: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  display: flex;
  justify-content: center;
}

.categories li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.listContainer {

}

.listItem {
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: outset;
  border-width: 3px;
  font-family: BlinkMacSystemFont;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

.adventureIcon {
  height: 150px;
  width:150px;
}